// Interactive-specific css here
@import 'table'

.intro
    display none

#modes
    qz-dropdown()
    text-align: left
    margin-bottom: 10px

.mode
    display none

#table1, #table2
    display: none

.mode-lastgraf p
  font-style italic
